@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Custom */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Untuk Internet Explorer 10+ */
  scrollbar-width: none; /* Untuk Firefox */
}

.smooth-scroll {
  scroll-behavior: smooth;
}
